#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
}

#form h4 {
    margin-top: 50px;
}

#form h3 {
    margin-top: 10px;
}


#form form {
    width: 50%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form span {
    font-weight: $semi-bold;
}

#sendEmail {
    height: 50px;
    width: 60%;
    border: none;
    background-color: $gris;
    padding-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    font-family: $poppins;
}

@media screen and (max-width: 1200px) {
    #form form {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    #form form {
        width: 90%;
    }
}