// Color

$violet : #7E76F9;
$bleu : #1000FF;
$bleuFonce : #1A129F;
$degrade : linear-gradient(to right, #1A129F,#5349E7);
$white : white;
$violetClair : #E8E6FF;
$noir : black;
$gris : #F6F7FB;

// Size and Height

$paddingS : 2%;
$paddingM : 3%;
$paddingL : 5%;
$paddingXL : 10%;
$paddingXXL : 15%;

$marginS : 2%;
$marginM : 3%;
$marginL : 5%;
$marginXL : 10%;
$marginXXL : 15%;

$fullHeight : 100vh;
$sectionHeight : 80vh;
$midHeight : 70vh;

$fullWidth : 100%;

// Font

$poppins : poppins;
$lato : lato;

// Font Size

$tresPetit : 12px;
$petit : 16px;
$petitGrand : 20px;
$titreH3 : 25px;
$moyenPetit : 40px;
$moyen : 50px;
$grand : 74px;

// Font weight

$bold : bold;
$medium : 500;
$light : 300;
$semi-bold : 600;